global
  log         127.0.0.1 local2
  pidfile     /var/run/haproxy.pid
  maxconn     4000
  daemon
defaults
  mode                    http
  log                     global
  option                  dontlognull
  option http-server-close
  option                  redispatch
  retries                 3
  timeout http-request    10s
  timeout queue           1m
  timeout connect         10s
  timeout client          1m
  timeout server          1m
  timeout http-keep-alive 10s
  timeout check           10s
  maxconn                 3000
frontend stats
  bind *:1936
  mode            http
  log             global
  maxconn 10
  stats enable
  stats hide-version
  stats refresh 30s
  stats show-node
  stats show-desc Stats for ocp4 cluster
  stats auth admin:ocp4
  stats uri /stats
listen api-server-6443
  bind 10.22.59.106:6443
  mode tcp
  server bootstrap bootstrap.tk.env.av360.org:6443 check inter 1s backup
{% for fqdn in groups['master'] %}
  server {{ fqdn.split('.')[0] }} {{ fqdn }}:6443 check inter 1s
{% endfor %}
listen machine-config-server-22623
  bind 10.22.59.106:22623
  mode tcp
  server bootstrap bootstrap.tk.env.av360.org:22623 check inter 1s backup
{% for fqdn in groups['master'] %}
  server {{ fqdn.split('.')[0] }} {{ fqdn }}:22623 check inter 1s 
{% endfor %}
listen ingress-router-443
  bind 10.22.59.107:443
  mode tcp
  balance source
{% for fqdn in groups['worker'] %}
  server {{ fqdn.split('.')[0] }} {{ fqdn }}:443 check inter 1s
{% endfor %}
listen ingress-router-80
  bind 10.22.59.107:80
  mode tcp
  balance source
{% for fqdn in groups['worker'] %}
  server {{ fqdn.split('.')[0] }} {{ fqdn }}:80 check inter 1s
{% endfor %}
